*{
    box-sizing: border-box;
}

body {
  
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  color:#515076;
}

.container {
  background-image: url("./images/bg.png");
  background-repeat: no-repeat;
  width: 1110px;
  margin: 0 auto;
  justify-content: center;
}


.product {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  justify-content: center;
}


.product__card {
  background-color: #F7F7FA;
  padding: 25px;
  width: 340px;
}


h1 {
  font-size: 70px;
  font-weight: 400;
  text-align: center;
  color:#515076;
}

.card__skin {
  text-transform: uppercase;
  display: block;
  margin-top: 5px;
}


.card__price {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 20px;
}
.card__list {
  padding-left: 20px;
}

.card__list li::marker {
  font-size: 1.4em;
}

.card--accent:hover {
  background-color: #cacbe5;
  border-radius: 30px;
  border: 2px solid rgb(16, 3, 32);
  box-shadow: 0 10px 32px rgb(16, 3, 32);
  z-index: 1;
}

.card--accent {
  background-color: #f1f1f1;
  border-radius: 20px;
  border: 4px solid #948b8b;
}

.card__name--heading {
  color: #5451ac;
}

.card__rating {
  color: #290808;
  flex-wrap: wrap;
  letter-spacing: 15px;
}

.rating {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.cap {
  display: flex;
  justify-content: space-between;
  background-color: #e9e9f7;
  list-style: none;
  padding: 20px;
  font-size: 20px;
}

#change-header-color.button--active {
  background-color: rgb(222, 188, 208);
  color: #6d0aef
}

#change-header-color {
  background-color:rgb(168, 213, 224);
}