*{
    box-sizing: border-box;
}
h2 {
  color:blue
}
.tag {
  color:brown
}
.tag-green {
  color:chartreuse
}

body {
  
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  color:#515076;
}

.container {
  background-image: url("./images/bg.png");
  background-repeat: no-repeat;
  width: 1110px;
  margin: 0 auto;
  justify-content: center;
}

.main-text {
  color: chocolate;
}


.card {
  background-color: #5150761A;
  padding: 25px;
  width: 340px;
}

.product {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  justify-content: center;
 
}

h1 {
  font-size: 70px;
  font-weight: 400;
  text-align: center;
  color:brown
}

.for-skin {
  text-transform: uppercase;
  display: block;
  margin-top: 5px;
}
.product-price {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 20px;
}
.product-list {
  padding-left: 20px;
}

.product-list li::marker {
  font-size: 1.4em;
}